<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="body-3">
    <div class="container container-3">
        <div class="header"></div>
        <div class="main">
            <h2 class="text-left mb-1">Register</h2>
            <form method="POST">
                <input type="text", name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <button class="btn-3" type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('auth.login') }}" class="btn-3">Log in</a></p>
            <button onclick="toggleDarkMode()" class="btn-3">Toggle Dark Mode</button>
        </div>
        <div class="footer"></div>
    </div>
<script>
  // Apply dark mode on page load if saved in localStorage
  if (localStorage.getItem("darkMode") === "true") {
    document.body.classList.add("dark-mode");
  }

  function toggleDarkMode() {
    const isDark = document.body.classList.toggle("dark-mode");
    localStorage.setItem("darkMode", isDark); // This simple function adds
        //or removes the class dark-mode on your <body>, which you can then style
        //using CSS.
  }
</script>
</body>
</html>